.resimSlider
{
    height: 900px;
}

body
{
    padding-top: 40px;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Playfair Display', serif;
}

.hakkimizda
{
    background-color: #d870935b ;
}

.line
{
    border: 1px solid black;
}

.font
{
    font: bolder;
    font-size: xx-large;
    font-weight: bolder;
}

.hcard>img:hover
{
    /*opacity: 0.8;*/
    transform: scale(1.1);
}

.shadow
{
    box-shadow: #d870935b;
}

.shadow>div:hover
{
    background-color: #d870935b ;
    transition: .5s ease-in-out;
}

.galeri
{
    background-color: #d870935b ;
}

.img>figure:hover
{
    filter: brightness(60%);
}






